<h2><%= @day.strftime("%B %Y") %></h2>

<table class="table table-condensed">
<% (@day.to_date.beginning_of_month.beginning_of_week..@day.to_date.end_of_month.end_of_week).each do |date| %>
	<% if date.monday? %>
		<tr>
	<% end %>

	
	<td class = 'span1'>
		<%= link_to date.day, diary_entries_path(day: date) %>
		<% if @dates.include?(date) %>
			&#10004;
				<% entries = @all_entries.select{|e| e.created_at > date.beginning_of_day && e.created_at < date.end_of_day} %>
				<% positive = entries.any?{|e| e.mood == "Happy"} %>
			<% if positive %>
				&#9786;
			<% end %>
		<% end %>

	</td>

<% end %>


</table>

<div class="links">
<%= link_to "Previous Month", diary_entries_path(day: @day - 1.month) %>&#8596;
<%= link_to "Next Month", diary_entries_path(day: @day + 1.month) %>
</div>