/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h2 {
	text-align: center;
}

.container {
	font-family: Papyrus, fantasy;
	text-align: center;
	margin-top: 100px;
	text-decoration: underline;
}

body {
	background: green;
}

td {
	font-size: 16px;
	font-weight: 600;
}

.header {
	text-align: center;
	font-family: "Brush Script MT", cursive;
	font-size: 50px;
	border: 2px solid black;
	background: #79A888;
	padding: 10px;
}

.calendar {
	padding-top: 20px;
}

.diary {
	padding-top: 50px;
}

.links {
	float: right;
	padding-right: 15px;
	font-size: 18px;
}

.button {
	padding-top: 30px;
}



